/* home */

@use "../abstracts/variables" as var;
@use "../base/typography" as type;


/* Grids */

.ticket {
    background-color: var.$bg-color;
    width: 1000px;
    height: 410px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-block-start: 1em;
    padding-block-end: 0.5em;
    padding-inline-start: 1em;
    justify-items: start;
    margin: auto;
    margin-block: 4rem;
}

.hori {
    display: grid;
    grid-template-columns: 1fr;
}

.vert {
    display: grid;
    grid-template-columns: 1fr;
}


/* Fonts */

.hori__lm {
    font-size: 1.4rem;
    line-height: 1.3em;
}

.hori__lm--abbey {
    font-family: type.$abbey-font;
    font-weight: 575;
    font-variant: small-caps;
}

.hori__lm--lessees {
    font-family: type.$lessees-font;
}

.hori__tues {
    font-family: type.$tues-font;
    font-size: 2.6rem;
    letter-spacing: -0.06em;
    font-weight: 700;
}

.hori__reunion {
    font-family: type.$reunion-font;
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: 0.2em;
}

.hori__pioneers {
    font-family: type.$pioneers-font;
    font-size: 3.1rem;
}

.hori__platform {
    font-family: type.$platform-font;
    font-size: 5rem;
}

.vert__platform {
    font-family: type.$platform-font;
    font-size: 5rem;
}

.vert__metro {
    font-family: type.$metro-font;
    font-size: 1.6rem;
    letter-spacing: 0.07em;
}

.vert__eve {
    font-family: type.$eve-font;
    font-size: 2.5rem;
    line-height: 1.4em;
}

.vert__retain {
    font-family: type.$retain-font;
    font-size: 1.6rem;
    letter-spacing: 0.03em;
    word-spacing: -0.2em;
    line-height: 1.5em;
}

.vert__globe {
    font-family: type.$globe-font;
    font-weight: 900;
    letter-spacing: 0.12em;
    word-spacing: 0.1em;
}


/* Placement- Horizontal */

.hori__lm, .hori__tues, .hori__reunion, .hori__pioneers, .hori__platform {
    text-align: center;
}

.hori__svg, .hori__lm, .hori__tues, .hori__reunion, .hori__pioneers, .hori__platform {
    grid-column-start: 1;
    grid-column-end: 3;
}

.hori__svg {
    padding: .1em;
}


.hori__pioneers--and {
    font-size: 2rem;
    writing-mode: sideways-lr;
    font-variant: small-caps;
    font-style: italic;
    line-height: 0.7em;
}

/* Placement- Vertical */

.vert {
    writing-mode: vertical-rl;
    margin-block-start: 3.6em;
    margin-block-end: 0;
    text-align: center;
    margin-inline-start: 0px;
}

/* Borders */

.vert__metro, .vert__eve, .vert__retain {
    border-block-end: 2px solid var.$text-color;
}

.hori__svg {
    border: 2px solid var.$text-color;
}

.hori__lm, .hori__tues, .hori__pioneers {
    border-bottom: 2px solid var.$text-color;
}

.vert__platform {
    border-block-start: 2px solid var.$text-color;
}

.hori__pioneers {
    letter-spacing: 0.025em;
}